<section class="center">
    <h3 class="instructions">Important Notice:</h3>

    <h3 class="notice">DO NOT CLICK on any elements of this page with your mouse!<br />(You can scroll to view the page.)</h3>
  <p>
    As web users, we're used to using our mouse to interact with elements on a page, such as buttons, checkboxes, radio buttons, text inputs... The list goes on! But for you to be able to
    <em>test these interactions with RSpec (or another testing framework)</em>
    we need the help of
    <strong>CAPYBARA!</strong>
  </p>
  <p>
    Refer to the <a href="https://devhints.io/capybara" target="_blank">Capybara cheat sheet</a> and <mark><strong>use Capybara</strong> <em>(via your terminal)</em></mark> to instruct the automated browser to click on the buttons below.
  </p>
</section>
<section>
  <h3 class="section-title">Buttons</h3>
  <p>
    You can make Capybara click on buttons by using their unique values!
  </p>
  <p>
    Take a look at the HTML for the two buttons in this section. We need to figure out what's unique about each button so that we can ask Capybara to find it and click on it for us. And what might that be? Well, the text value of each button is different...
  </p>
  <pre class="line-numbers language-html code-snippet-margin">
    <code>
      &lt;div class=&quot;grid capybara-targets&quot;&gt;
        &lt;button&gt;Click me!&lt;/button&gt;
        &lt;button&gt;Click on me too!&lt;/button&gt;
      &lt;/div&gt;
    </code>
  </pre>
  <p>
    Check the documentation (or cheat sheet) to see if you can find a command to <mark>make Capybara click on the following buttons</mark>, using their text value to identify them.
  </p>
  <div class="grid">
    <button>Click me!</button>
    <button>Click on me too!</button>
  </div>
  <details>
    <summary class="answer-shield">Want to see if we got the same answer? Click here!</summary>
    <%= haml :"partials/_tips", locals: { code_tip: "click_button('Click me!')" } %>
  </details>
</section>
<section>
  <h3 class="section-title">Buttons (different IDs)</h3>
  <p>
    <span class="outer-highlight">HTML elements</span> (such as buttons), can have an <span class="inner-highlight"><em>attribute</em></span> called 'id'.
  </p>
  <pre class="line-numbers language-html code-snippet-margin">
    <code>
      &lt;div class=&quot;grid capybara-targets&quot;&gt;
        &lt;button id=&quot;coffee&quot;&gt;Same button, different ID&lt;/button&gt;
        &lt;button id=&quot;tea&quot;&gt;Same button, different ID&lt;/button&gt;
      &lt;/div&gt;
    </code>
  </pre>
  <p>The next two buttons can be targeted by their IDs (there is more than one way to achieve this).</p>
  <div class="grid">
    <button id="coffee">Same button, different ID</button>
    <button id="tea">Same button, different ID</button>
  </div>
  <details>
    <summary class="answer-shield">Want to see if we got the same answer? Click here!</summary>
    <%= haml :"partials/_tips", locals: { code_tip: "click_on({id: 'coffee'})" } %>
  </details>
</section>
<section>
  <h3 class="section-title">Buttons (different classes)</h3>
  <p>
    These buttons can be targeted by their <span class="outer-highlight">class</span>, using the <span class="inner-highlight"><em>find</em></span> command. Look at using Capybara's <a href="https://rubydoc.info/github/jnicklas/capybara/Capybara/Node/Finders:find">'find' syntax</a> and using the name of the <strong>html element</strong> along with the name of the <span class="outer-highlight">class,</span> you can be very specific about which button you are referring to:
  </p>
  <pre class="line-numbers language-html code-snippet-margin">
    <code>
      &lt;div class=&quot;grid capybara-targets&quot;&gt;
        &lt;button class=&quot;london&quot;&gt;Same button, different class&lt;/button&gt;
        &lt;button class=&quot;barcelona&quot;&gt;Same button, different class&lt;/button&gt;
      &lt;/div&gt;
    </code>
  </pre>
  <div class="grid">
    <button class="london">Same button, different class</button>
    <button class="barcelona">Same button, different class</button>
  </div>
  <details>
    <summary class="answer-shield">Want to see if we got the same answer? Click here!</summary>
    <%= haml :"partials/_tips", locals: { code_tip: "find('button.london').click" } %>
  </details>
</section>
<section>
  <h3 class="section-title">Buttons (identical values)</h3>
  <p>
    Here you can see what a potential minefield this might be. Some of these buttons we don't want to click on. Try to have Capybara click on some of these buttons by their values. What error do you get?
  </p>
  <pre class="line-numbers language-html code-snippet-margin">
    <code>
      &lt;div class=&quot;grid&quot;&gt;
        &lt;div class=&quot;grid banana&quot;&gt;
          &lt;button class=&quot;do-not-click&quot;&gt;💀 Don't click on me please 💀&lt;/button&gt;
          &lt;button&gt;Same button, different div&lt;/button&gt;
        &lt;/div&gt;
        &lt;div class=&quot;apple&quot;&gt;
          &lt;button class=&quot;do-not-click&quot;&gt;💀 Don't click on me please 💀&lt;/button&gt;
          &lt;button&gt;Same button, different div&lt;/button&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    </code>
  </pre>
  <p>
    Look at using Capybara's <a href="https://www.rubydoc.info/github/jnicklas/capybara/Capybara%2FSession:within">'within' syntax.</a> You can use the name of the containing <span class="outer-highlight"><em>element</em></span> along with the name of the <span class="inner-highlight">class,</span> to specify which button you are referring to:
  </p>
  <div class="grid">
    <div class="grid banana">
      <button class="do-not-click">💀 Don't click on me please 💀</button>
      <button>Same button, different div</button>
    </div>
    <div class="apple">
      <button class="do-not-click">💀 Don't click on me please 💀</button>
      <button>Same button, different div</button>
    </div>
  </div>
  <details>
    <summary class="answer-shield">Want to see if we got the same answer? Click here!</summary>
    <%= haml :"partials/_tips", locals: { code_tip: "within('div.banana') do\n  click_button(\"Same button, different div\")\nend" } %>
  </details>
</section>
<section>
  <h3 class="section-title">Checkboxes</h3>
  <p>
    Input elements (such as <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/checkbox">checkboxes</a>) can also be selected by their 'name' attributes:
  </p>
  <pre class="line-numbers language-html code-snippet-margin">
    <code>
      &lt;div class=&quot;grid&quot;&gt;
        &lt;fieldset&gt;
          &lt;label for=&quot;first-checkbox&quot;&gt;
          &lt;input name=&quot;first-checkbox&quot; type=&quot;checkbox&quot;&gt;
          Check me!
          &lt;/label&gt;
          &lt;label for=&quot;second-checkbox&quot;&gt;
          &lt;input name=&quot;second-checkbox&quot; type=&quot;checkbox&quot;&gt;
          And me!
          &lt;/label&gt;
        &lt;/fieldset&gt;
      &lt;/div&gt;
    </code>
  </pre>
  <p>
    Try finding the command to check one of these boxes using the <span class="inner-highlight">name</span> attribute:
  </p>
  <div class="grid">
    <fieldset>
      <label for="first-checkbox">
      <input name="first-checkbox" type="checkbox">Check me!</label>
      <label for="second-checkbox">
      <input name="second-checkbox" type="checkbox">And me!</label>
    </fieldset>
  </div>
  <details>
    <summary class="answer-shield">Want to see if we got the same answer? Click here!</summary>
    <%= haml :"partials/_tips", locals: { code_tip: "check('first-checkbox')" } %>
  </details>
</section>
<section>
  <h3 class="section-title">Forms</h3>
  <p>
    Forms consist of a bunch of <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input">input elements with different types,</a> which are used to get input from your users, and send them via <em><span class="inner-highlight">HTTP requests</span> (more on these later)</em> to somewhere. In the case of this application, we will just send the data to another page, to display it. But as a developer you will use forms for logging in to applications, storing data, triggering hardware systems and many other potential applications.
  </p>
  <pre class="line-numbers language-html code-snippet-margin">
    <code>
      &lt;div class=&quot;grid&quot;&gt;
        &lt;form method=&quot;post&quot; action=&quot;finish&quot;&gt;
          &lt;fieldset&gt;
            &lt;div class=&quot;grid&quot;&gt;
              &lt;label for=&quot;your_name&quot;&gt;
                Name
                &lt;input type=&quot;text&quot; id=&quot;your_name&quot; name=&quot;your_name&quot; placeholder=&quot;Your name&quot; required&gt;
              &lt;/label&gt;
              &lt;label for=&quot;coach_name&quot;&gt;
                Coach name
                &lt;input type=&quot;text&quot; id=&quot;coach_name&quot; name=&quot;coach_name&quot; placeholder=&quot;Your coach's name&quot; required&gt;
              &lt;/label&gt;
            &lt;/div&gt;
            &lt;button type=&quot;submit&quot;&gt;Submit&lt;/button&gt;
          &lt;/fieldset&gt;
        &lt;/form&gt;
      &lt;/div&gt;
    </code>
  </pre>
  <p>
    Try finding the command to check one of these boxes using the <span class="inner-highlight">name</span> attribute:
  </p>
  <div class="grid">
    <form method="post" action="finish">
      <fieldset>
        <div class="grid">
          <label for="your_name">
            Name
            <input type="text" id="your_name" name="your_name" placeholder="Your name" required>
          </label>
          <label for="coach_name">
            Coach name
            <input type="text" id="coach_name" name="coach_name" placeholder="Your coach's name" required>
          </label>
        </div>
        <button type="submit">Submit</button>
      </fieldset>
    </form>
  </div>
  <details>
    <summary class="answer-shield">Want to see if we got the same answer? Click here!</summary>
    <%= haml :"partials/_tips", locals: { code_tip: "fill_in('your_name', { with: 'your name!' })\nfill_in('coach_name', { with: 'your coach&#39;s name!' })\nclick_button('Submit')" } %>
  </details>
</section>